.image_container {
  justify-content: center;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  padding: 15px;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #efefef;
}
